<a href="https://colab.research.google.com/github/Tkaheva/Python/blob/main/Practica_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 10
*Вы принимаете от пользователя последовательность чисел, разделённых запятой. Составьте список и кортеж с этими числами.*

In [ ]:
num = int(input())
print('список введённых чисел', list(str(num)))
print('кортеж введённых чисел',tuple(str(num)))

533566
список введённых чисел ['5', '3', '3', '5', '6', '6']
кортеж введённых чисел ('5', '3', '3', '5', '6', '6')

In [ ]:
values = input('Введите числа через запятую: ')
ints_as_strings = values.split(',')
ints = map(int, ints_as_strings)
lst = list(ints)
tup = tuple(lst)
print('Список:', lst)
print('Кортеж:', tup)

Введите числа через запятую: 2,3,2,2,33,233,4
Список: [2, 3, 2, 2, 33, 233, 4]
Кортеж: (2, 3, 2, 2, 33, 233, 4)

# Задача 11
*Выведите первый и последний элемент списка*

In [ ]:
lst = [2, 3, 2, 2, 33, 233, 4]
print('first elem list:', lst[0], '\n', 'last elem list:', lst[-1])

first elem list: 2
 last elem list: 4

In [ ]:
lst = [1, 2, 3, 4, 5]
print(f'Первый: {lst[0]}; последний: {lst[-1]}')

Первый: 1; последний: 5

# Задача 12
*Напишите программу, которая принимает имя файла и выводит его расширение. Если расширение у файла определить невозможно, выбросите исключение*

In [ ]:

name_file = input()
if name_file.split('.')[-1] == 'py':
  expansion = name_file.split('.')[-1]
  print(f'file: {name_file} with expansion: {expansion}')
elif name_file.split('.')[-1] == 'txt':
   expansion = name_file.split('.')[-1]
   print(f'file: {name_file} with expansion: {expansion}')
else:
  print('error in name file or expansion')

fdge
error in name file or expansion

# Задача 13
*При заданном целом числе n посчитайте n + nn + nnn*

In [ ]:
num = int(input())
print(num + num**2 + num**3)

77
462539

# Задача 14
*Напишите программу, которая выводит чётные числа из заданного списка и останавливается, если встречает число 237*

In [ ]:
lst = [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]
for i in lst:
  if i % 2 == 0 and i != 237:
    print(i)

2
2
4
4

In [ ]:
lst = [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]

for i in lst:
    if i == 237:
        break
    if i % 2 == 0:
        print(i)

2
2
4
4

# Задача 15
Напишите программу, которая принимает два списка и выводит все элементы первого, которых нет во втором

In [ ]:
one_lst =  [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]
two_lst = [2, 53, 42, 43,  253, 4, 237,  55]
print(set(one_lst) - set(two_lst))

{33, 3, 233}

# Задача 16
Выведите список файлов в указанной директории

In [ ]:
import requests

# Запрос к API GitHub
url = "https://api.github.com/repos/Tkaheva/Practica-To-do-list/contents"
response = requests.get(url)
data = response.json()

# Выводим только файлы (не директории)
for item in data:
    if item["type"] == "file":
        print(item["name"])

README.md
style tdl.css
Документ Microsoft Word.docx
прак.html

In [ ]:
!git clone https://github.com/Tkaheva/Practica-To-do-list.git
!ls -R Practica-To-do-list

Cloning into 'Practica-To-do-list'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 4), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (18/18), 24.20 KiB | 604.00 KiB/s, done.
Resolving deltas: 100% (4/4), done.
Practica-To-do-list:
 README.md  'style tdl.css'  'Документ Microsoft Word.docx'   прак.html

# Задача 17
Сложите цифры целого числа

In [ ]:
num = input()
number = sum(int(digit) for digit in num)
print(number)

444
12

# Задача 18
Посчитайте, сколько раз символ встречается в строке

In [ ]:
count = 0
str = 'd,jj,jh,hk'
for i in str:
  if i == ',':
    count+=1
    print(count)

1
2
3

In [ ]:
s = 'd,jj,jh,hk'
count = s.count(',')  # Самый питонический способ
print(f"Количество запятых: {count}")

Количество запятых: 3

# Задача 19
Поменяйте значения переменных местами

In [ ]:
x = 5
y = 10
temp = x
x = y
y = temp
print(x, temp)

10 5

In [ ]:
x = 5
y = 10
x, y = y, x
print(y, x)

5 10

# Задача 20
С помощью анонимной функции извлеките из списка числа, делимые на 15

In [ ]:

lst = [2, 3, 2, 4, 33, 233, 4, 15, 33, 255]
for i in lst:
  if i % 15 == 0:
    print(i)

15
255

In [ ]:
nums = [45, 55, 60, 37, 100, 105, 220]
result = list(filter(lambda x: not x % 15, nums))
print(result)

[45, 60, 105]

# Задача 21 **Дореш**
Нужно проверить, все ли числа в последовательности уникальны

In [ ]:
nums = [45, 55, 55, 55, 60, 37, 100, 105, 220]
if set(nums):
  print('elem unic')
else:
  print('elem not unic')

elem unic

In [ ]:
def all_unique(numbers):
    return len(numbers) == len(set(numbers))
    def all_unique(45, 55, 55, 55, 60, 37, 100, 105, 220)

SyntaxError: invalid syntax (ipython-input-1115246416.py, line 3)