<a href="https://colab.research.google.com/github/Tkaheva/Python/blob/main/Practica_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 10
*Вы принимаете от пользователя последовательность чисел, разделённых запятой. Составьте список и кортеж с этими числами.*

In [ ]:
num = int(input())
print('список введённых чисел', list(str(num)))
print('кортеж введённых чисел',tuple(str(num)))

533566
список введённых чисел ['5', '3', '3', '5', '6', '6']
кортеж введённых чисел ('5', '3', '3', '5', '6', '6')

In [ ]:
values = input('Введите числа через запятую: ')
ints_as_strings = values.split(',')
ints = map(int, ints_as_strings)
lst = list(ints)
tup = tuple(lst)
print('Список:', lst)
print('Кортеж:', tup)

Введите числа через запятую: 2,3,2,2,33,233,4
Список: [2, 3, 2, 2, 33, 233, 4]
Кортеж: (2, 3, 2, 2, 33, 233, 4)

# Задача 11
*Выведите первый и последний элемент списка*

In [ ]:
lst = [2, 3, 2, 2, 33, 233, 4]
print('first elem list:', lst[0], '\n', 'last elem list:', lst[-1])

first elem list: 2
 last elem list: 4

In [ ]:
lst = [1, 2, 3, 4, 5]
print(f'Первый: {lst[0]}; последний: {lst[-1]}')

Первый: 1; последний: 5

# Задача 12
*Напишите программу, которая принимает имя файла и выводит его расширение. Если расширение у файла определить невозможно, выбросите исключение*

In [ ]:

name_file = input()
if name_file.split('.')[-1] == 'py':
  expansion = name_file.split('.')[-1]
  print(f'file: {name_file} with expansion: {expansion}')
elif name_file.split('.')[-1] == 'txt':
   expansion = name_file.split('.')[-1]
   print(f'file: {name_file} with expansion: {expansion}')
else:
  print('error in name file or expansion')

fdge
error in name file or expansion

# Задача 13
*При заданном целом числе n посчитайте n + nn + nnn*

In [ ]:
num = int(input())
print(num + num**2 + num**3)

77
462539

# Задача 14
*Напишите программу, которая выводит чётные числа из заданного списка и останавливается, если встречает число 237*

In [ ]:
lst = [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]
for i in lst:
  if i % 2 == 0 and i != 237:
    print(i)

2
2
4
4

In [ ]:
lst = [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]

for i in lst:
    if i == 237:
        break
    if i % 2 == 0:
        print(i)

2
2
4
4

# Задача 15
Напишите программу, которая принимает два списка и выводит все элементы первого, которых нет во втором

In [ ]:
one_lst =  [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]
two_lst = [2, 53, 42, 43,  253, 4, 237,  55]
print(set(one_lst) - set(two_lst))

{33, 3, 233}

# Задача 16
Выведите список файлов в указанной директории

In [ ]:
import requests

# Запрос к API GitHub
url = "https://api.github.com/repos/Tkaheva/Practica-To-do-list/contents"
response = requests.get(url)
data = response.json()

# Выводим только файлы (не директории)
for item in data:
    if item["type"] == "file":
        print(item["name"])

README.md
style tdl.css
Документ Microsoft Word.docx
прак.html

In [ ]:
!git clone https://github.com/Tkaheva/Practica-To-do-list.git
!ls -R Practica-To-do-list

Cloning into 'Practica-To-do-list'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 4), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (18/18), 24.20 KiB | 604.00 KiB/s, done.
Resolving deltas: 100% (4/4), done.
Practica-To-do-list:
 README.md  'style tdl.css'  'Документ Microsoft Word.docx'   прак.html

# Задача 17
Сложите цифры целого числа

In [ ]:
num = input()
number = sum(int(digit) for digit in num)
print(number)

444
12

# Задача 18
Посчитайте, сколько раз символ встречается в строке

In [ ]:
count = 0
strw = 'd,jj,jh,hk'
for i in strw:
  if i == ',':
    count+=1
    print(count)

1
2
3

In [ ]:
s = 'd,jj,jh,hk'
count = s.count(',')  # Самый питонический способ
print(f"Количество запятых: {count}")

Количество запятых: 3

# Задача 19
Поменяйте значения переменных местами

In [ ]:
x = 5
y = 10
temp = x
x = y
y = temp
print(x, temp)

10 5

In [ ]:
x = 5
y = 10
x, y = y, x
print(y, x)

5 10

# Задача 20
С помощью анонимной функции извлеките из списка числа, делимые на 15

In [ ]:

lst = [2, 3, 2, 4, 33, 233, 4, 15, 33, 255]
for i in lst:
  if i % 15 == 0:
    print(i)

15
255

In [ ]:
nums = [45, 55, 60, 37, 100, 105, 220]
result = list(filter(lambda x: not x % 15, nums))
print(result)

[45, 60, 105]

# Задача 21 **Дореш**
Нужно проверить, все ли числа в последовательности уникальны

In [ ]:
nums = [45, 55, 55, 55, 60, 37, 100, 105, 220]
if set(nums):
  print('elem unic')
else:
  print('elem not unic')

elem unic

In [ ]:
def all_unique(numbers):
    return len(numbers) == len(set(numbers))
    def all_unique(45, 55, 55, 55, 60, 37, 100, 105, 220)

SyntaxError: invalid syntax (ipython-input-1115246416.py, line 3)

# Задача 22
Напишите программу, которая принимает текст и выводит два слова: наиболее часто встречающееся и самое длинное.

In [ ]:
from collections import Counter

def analyze_text(text):
    # Разбиваем текст на слова (игнорируя регистр и знаки препинания)
    words = [word.strip(".,!?;:\"'").lower() for word in text.split()]

    if not words:
        return None, None

    # Находим самое частое слово
    word_counts = Counter(words)
    most_common = word_counts.most_common(1)[0][0]

    # Находим самое длинное слово
    longest = max(words, key=len)

    return most_common, longest

# Пример использования
text = input("Введите текст: ")
most_common_word, longest_word = analyze_text(text)

print(f"Самое частое слово: {most_common_word}")
print(f"Самое длинное слово: {longest_word}")

Введите текст: ghbdtn ghgh ghbdtn fvbrkjvnnfv ghbdtn
Самое частое слово: ghbdtn
Самое длинное слово: fvbrkjvnnfv

In [ ]:
import collections

text = input()
words = text.split()
counter = collections.Counter(words)
most_common, occurrences = counter.most_common()[0]

longest = max(words, key=len)

print(most_common, longest)

ghbdtn hghjbkhhgkjbkj ghbdtn
ghbdtn hghjbkhhgkjbkj

# Уровень 1.1 (Начало)

**Дано число. Проверьте, отрицательное оно или нет. Выведите об этом информацию в консоль**

In [ ]:
nume = int(input())
if nume >= 0:
  print("number is positiv")
else:
  print("the number is negative")

9
number is positiv

**Дана строка. Выведите в консоль длину этой строки**

In [ ]:
strl = input()
print('String has is lenght:', len(strl))

ggg
String has lenght: 3

**Дана строка. Выведите в консоль последний символ строки**

In [ ]:
stry = input()
print('Last elem string:', stry[-1] )

rg
Last elem string: g

**Дано число. Проверьте, четное оно или нет**

In [ ]:
numer =  int(input())
if numer % 2 == 0:
  print("number is even")
else:
  print('number is odd')

7
number is odd

**Даны два слова. Проверьте, что первые буквы этих слов совпадают**

Регистро зависимый

In [ ]:
word_1 = input()
word_2 = input()
if word_1[0] == word_2[0]:
  print("the first letters match ")
else:
  print('none')

fdfv
Fdf
the first letters match

Регистро не зависимый

In [ ]:
word_1 = input()
word_2 = input()
if word_1[0].lower() == word_2[0].lower():
  print("the first letters match ")
else:
  print('none')

**Дано слово. Получите его последнюю букву. Если слово заканчивается на мягкий знак, то получите предпоследнюю букву**

In [ ]:
stri = input()
if stri[-1] == 'ь':
  print(f'the penultimate letter: {stri[-2]}')
else:
  print(f'Last letter: {stri[-1]}')

рпль
the penultimate letter: в

# Уровень 1.2

**Дано число. Выведите в консоль первую цифру этого числа**

In [ ]:
numer = int(input())
digi = __builtins__.str(numer) # Обращение к оригинальной функции str()
print(f'the first digit of this number: {digi[0]} ')

9
the first digit of this number: 9

**Дано число. Выведите в консоль последнюю цифру этого числа**

In [ ]:
n = int(input())
dig = str(n)
print(f'the last digit of this number: {dig[-1]} ')

88864
the last digit of this number: 4

**Дано число. Выведите в консоль сумму первой и последней цифры этого числа**

In [ ]:
num_1 = int(input())
dig_1 = str(num_1)
di_1 = dig_1 [0]
di_2 = dig_1 [-1]
sum_dig = int(di_1) + int(di_2)
print(sum_dig)

211196519563
5

**Дано число. Выведите количество цифр в этом числе**

In [ ]:
num_2 = int(input())
print(len(str(num_2)))

545
3

**Даны два числа. Проверьте, что первые цифры этих чисел совпадают**

In [ ]:
num_3 = int(input())
num_4 = int(input())
if str(num_3)[0] == str(num_4)[0]:
  print('первые цифры чисел совпадают')
else:
  print('none')

969889
77878
none

**Дан список:
[1, 2, 3, 4, 5, 6]
Получите из него следующий срез:

[1, 2, 3]**

In [ ]:
list_1 = [1, 2, 3, 4, 5, 6]
print(list_1[0:3])

[1, 2, 3]

# Уровень 1.3

**Дана строка. Если в этой строке более одного символа, выведите в консоль предпоследний символ этой строки**

In [ ]:
str_1 = input()
if len(str_1) > 1:
  print(str_1[-2])
else:
  print("string has one symbol")

t
string has one symbol

**Даны два целых числа. Проверьте, что первое число без остатка делится на второе**

In [ ]:
num_5 = int(input())
num_6 = int(input())
if num_5 % num_6 == 0:
  print('первое число без остатка делится на второе')
else:
  num_7 = num_5 / num_6
  print(f'Деление первого числа на второе равно: {num_7}')

4
78
Деление первого числа на второе равно: 0.05128205128205128

**Дана некоторая строка:

'abcde'
Получите список ее символов:

['a', 'b', 'c', 'd', 'e']**

In [ ]:
str_2 = 'abcde'
print(list(str_2))

['a', 'b', 'c', 'd', 'e']

**Дан список:

[1, 2, 3, 4, 5, 6]
Получите из него следующий срез:

[3, 4, 5]**

In [ ]:
list_2 = [1, 2, 3, 4, 5, 6]
print(list_2[2:5])

[3, 4, 5]

**Дан словарь с датой:

{
	'year' : '2025',
	'month': '12',
	'day'  : '31',
}
Из элементов этого словаря соберите дату в следующем формате:

'2025-12-31'**

In [ ]:
dict_1 = { 'year' : '2025', 'month': '12', 'day' : '31', }
form_date =f"{dict_1['year']}-{dict_1['month']}-{dict_1['day']}"
print(form_date)

2025-12-31

In [ ]:
date_dict = {'year': '2025', 'month': '12', 'day': '31'}
formatted_date = "{year}-{month}-{day}".format(**date_dict)
print(formatted_date)  # Выведет: 2025-12-31

2025-12-31

# Уровень 1.4

**Выведите в консоль все целые числа от 1 до 100**

In [ ]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

**Выведите в консоль все целые числа от -100 до 0**

In [ ]:
for i in range(-100, 1):
  print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

**Выведите в консоль все целые числа от 100 до 1**

In [41]:
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

**Выведите в консоль все четные числа из промежутка от 1 до 100**

In [55]:
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**Выведите в консоль все числа кратные трем в промежутке от 1 до 100**

In [56]:
for i in range(1,101):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

**Дан список:

[1, 2, 3, 4, 5, 6]
Получите из него два последних элемента:

[5, 6]**

In [69]:
list_3 = [1, 2, 3, 4, 5, 6]
print(list_3[4:6])

[5, 6]

In [70]:
my_list = [1, 2, 3, 4, 5, 6]
last_two = my_list[-2:]
print(last_two)

[5, 6]

**Дана некоторая строка:

'abcdeabc'
Получите сет ее символов:

{'a', 'b', 'c', 'd', 'e'}**

In [73]:
str_9 = 'abcdeabc'
print(set(str_9))

{'a', 'd', 'e', 'c', 'b'}

# Уровень 1.5

**Найдите сумму всех целых чисел от 1 до 100**

In [85]:

print(sum(range(1,101)))

5050

In [ ]:
n = 100
sum_gauss = n * (n + 1) // 2
print(sum_gauss)  # Выведет: 5050

In [ ]:
total = 0
for i in range(1, 101):
    total += i
print(total)  # Выведет: 5050

**Найдите сумму всех целых четных чисел в промежутке от 1 до 100**

In [86]:
total = 0
for i in range(1, 101):
  if i % 2 == 0:
    total += i
print(total)

2550

**Найдите сумму всех целых нечетных чисел в промежутке от 1 до 100**

In [87]:
total = 0
for i in range(1, 101):
  if i % 3 == 0:
    total += i
print(total)

1683

**Даны два целых числа. Найдите остаток от деления первого числа на второе**

In [89]:
num_7 = int(input())
num_9 = int(input())
print(f' остаток от деления первого числа на второе: {num_7 / num_9}')

3
7
 остаток от деления первого числа на второе: 0.42857142857142855

**Дан список:

[1, 2, 3, 4, 5, 6]
Получите из него каждый второй элемент:

[1, 3, 5]**

In [90]:
list_5 =[1, 2, 3, 4, 5, 6]
print(list_5[0::2])

[1, 3, 5]

# Уровень 1.6