<a href="https://colab.research.google.com/github/Tkaheva/Python/blob/main/Practica_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 10
*Вы принимаете от пользователя последовательность чисел, разделённых запятой. Составьте список и кортеж с этими числами.*

In [ ]:
num = int(input())
print('список введённых чисел', list(str(num)))
print('кортеж введённых чисел',tuple(str(num)))

533566
список введённых чисел ['5', '3', '3', '5', '6', '6']
кортеж введённых чисел ('5', '3', '3', '5', '6', '6')

In [ ]:
values = input('Введите числа через запятую: ')
ints_as_strings = values.split(',')
ints = map(int, ints_as_strings)
lst = list(ints)
tup = tuple(lst)
print('Список:', lst)
print('Кортеж:', tup)

Введите числа через запятую: 2,3,2,2,33,233,4
Список: [2, 3, 2, 2, 33, 233, 4]
Кортеж: (2, 3, 2, 2, 33, 233, 4)

# Задача 11
*Выведите первый и последний элемент списка*

In [ ]:
lst = [2, 3, 2, 2, 33, 233, 4]
print('first elem list:', lst[0], '\n', 'last elem list:', lst[-1])

first elem list: 2
 last elem list: 4

In [ ]:
lst = [1, 2, 3, 4, 5]
print(f'Первый: {lst[0]}; последний: {lst[-1]}')

Первый: 1; последний: 5

# Задача 12
*Напишите программу, которая принимает имя файла и выводит его расширение. Если расширение у файла определить невозможно, выбросите исключение*

In [ ]:

name_file = input()
if name_file.split('.')[-1] == 'py':
  expansion = name_file.split('.')[-1]
  print(f'file: {name_file} with expansion: {expansion}')
elif name_file.split('.')[-1] == 'txt':
   expansion = name_file.split('.')[-1]
   print(f'file: {name_file} with expansion: {expansion}')
else:
  print('error in name file or expansion')

fdge
error in name file or expansion

# Задача 13
*При заданном целом числе n посчитайте n + nn + nnn*

In [ ]:
num = int(input())
print(num + num**2 + num**3)

77
462539

# Задача 14
*Напишите программу, которая выводит чётные числа из заданного списка и останавливается, если встречает число 237*

In [ ]:
lst = [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]
for i in lst:
  if i % 2 == 0 and i != 237:
    print(i)

2
2
4
4

In [ ]:
lst = [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]

for i in lst:
    if i == 237:
        break
    if i % 2 == 0:
        print(i)

2
2
4
4

# Задача 15
Напишите программу, которая принимает два списка и выводит все элементы первого, которых нет во втором

In [ ]:
one_lst =  [2, 3, 2, 4, 33, 233, 4, 237, 33, 55]
two_lst = [2, 53, 42, 43,  253, 4, 237,  55]
print(set(one_lst) - set(two_lst))

{33, 3, 233}

# Задача 16
Выведите список файлов в указанной директории

In [ ]:
import requests

# Запрос к API GitHub
url = "https://api.github.com/repos/Tkaheva/Practica-To-do-list/contents"
response = requests.get(url)
data = response.json()

# Выводим только файлы (не директории)
for item in data:
    if item["type"] == "file":
        print(item["name"])

README.md
style tdl.css
Документ Microsoft Word.docx
прак.html

In [ ]:
!git clone https://github.com/Tkaheva/Practica-To-do-list.git
!ls -R Practica-To-do-list

Cloning into 'Practica-To-do-list'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 4), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (18/18), 24.20 KiB | 604.00 KiB/s, done.
Resolving deltas: 100% (4/4), done.
Practica-To-do-list:
 README.md  'style tdl.css'  'Документ Microsoft Word.docx'   прак.html

# Задача 17
Сложите цифры целого числа

In [ ]:
num = input()
number = sum(int(digit) for digit in num)
print(number)

444
12

# Задача 18
Посчитайте, сколько раз символ встречается в строке

In [ ]:
count = 0
strw = 'd,jj,jh,hk'
for i in strw:
  if i == ',':
    count+=1
    print(count)

1
2
3

In [ ]:
s = 'd,jj,jh,hk'
count = s.count(',')  # Самый питонический способ
print(f"Количество запятых: {count}")

Количество запятых: 3

# Задача 19
Поменяйте значения переменных местами

In [ ]:
x = 5
y = 10
temp = x
x = y
y = temp
print(x, temp)

10 5

In [ ]:
x = 5
y = 10
x, y = y, x
print(y, x)

5 10

# Задача 20
С помощью анонимной функции извлеките из списка числа, делимые на 15

In [ ]:

lst = [2, 3, 2, 4, 33, 233, 4, 15, 33, 255]
for i in lst:
  if i % 15 == 0:
    print(i)

15
255

In [ ]:
nums = [45, 55, 60, 37, 100, 105, 220]
result = list(filter(lambda x: not x % 15, nums))
print(result)

[45, 60, 105]

# Задача 21 **Дореш**
Нужно проверить, все ли числа в последовательности уникальны

In [ ]:
nums = [45, 55, 55, 55, 60, 37, 100, 105, 220]
if set(nums):
  print('elem unic')
else:
  print('elem not unic')

elem unic

In [ ]:
def all_unique(numbers):
    return len(numbers) == len(set(numbers))
    def all_unique(45, 55, 55, 55, 60, 37, 100, 105, 220)

SyntaxError: invalid syntax (ipython-input-1115246416.py, line 3)

# Задача 22
Напишите программу, которая принимает текст и выводит два слова: наиболее часто встречающееся и самое длинное.

In [ ]:
from collections import Counter

def analyze_text(text):
    # Разбиваем текст на слова (игнорируя регистр и знаки препинания)
    words = [word.strip(".,!?;:\"'").lower() for word in text.split()]

    if not words:
        return None, None

    # Находим самое частое слово
    word_counts = Counter(words)
    most_common = word_counts.most_common(1)[0][0]

    # Находим самое длинное слово
    longest = max(words, key=len)

    return most_common, longest

# Пример использования
text = input("Введите текст: ")
most_common_word, longest_word = analyze_text(text)

print(f"Самое частое слово: {most_common_word}")
print(f"Самое длинное слово: {longest_word}")

Введите текст: ghbdtn ghgh ghbdtn fvbrkjvnnfv ghbdtn
Самое частое слово: ghbdtn
Самое длинное слово: fvbrkjvnnfv

In [ ]:
import collections

text = input()
words = text.split()
counter = collections.Counter(words)
most_common, occurrences = counter.most_common()[0]

longest = max(words, key=len)

print(most_common, longest)

ghbdtn hghjbkhhgkjbkj ghbdtn
ghbdtn hghjbkhhgkjbkj

# Уровень 1.1 (Начало)

**Дано число. Проверьте, отрицательное оно или нет. Выведите об этом информацию в консоль**

In [ ]:
nume = int(input())
if nume >= 0:
  print("number is positiv")
else:
  print("the number is negative")

9
number is positiv

**Дана строка. Выведите в консоль длину этой строки**

In [ ]:
strl = input()
print('String has is lenght:', len(strl))

ggg
String has lenght: 3

**Дана строка. Выведите в консоль последний символ строки**

In [ ]:
stry = input()
print('Last elem string:', stry[-1] )

rg
Last elem string: g

**Дано число. Проверьте, четное оно или нет**

In [ ]:
numer =  int(input())
if numer % 2 == 0:
  print("number is even")
else:
  print('number is odd')

7
number is odd

**Даны два слова. Проверьте, что первые буквы этих слов совпадают**

Регистро зависимый

In [ ]:
word_1 = input()
word_2 = input()
if word_1[0] == word_2[0]:
  print("the first letters match ")
else:
  print('none')

fdfv
Fdf
the first letters match

Регистро не зависимый

In [ ]:
word_1 = input()
word_2 = input()
if word_1[0].lower() == word_2[0].lower():
  print("the first letters match ")
else:
  print('none')

**Дано слово. Получите его последнюю букву. Если слово заканчивается на мягкий знак, то получите предпоследнюю букву**

In [ ]:
stri = input()
if stri[-1] == 'ь':
  print(f'the penultimate letter: {stri[-2]}')
else:
  print(f'Last letter: {stri[-1]}')

рпль
the penultimate letter: в

# Уровень 1.2

**Дано число. Выведите в консоль первую цифру этого числа**

In [ ]:
numer = int(input())
digi = __builtins__.str(numer) # Обращение к оригинальной функции str()
print(f'the first digit of this number: {digi[0]} ')

9
the first digit of this number: 9

**Дано число. Выведите в консоль последнюю цифру этого числа**

In [ ]:
n = int(input())
dig = str(n)
print(f'the last digit of this number: {dig[-1]} ')

88864
the last digit of this number: 4

**Дано число. Выведите в консоль сумму первой и последней цифры этого числа**

In [ ]:
num_1 = int(input())
dig_1 = str(num_1)
di_1 = dig_1 [0]
di_2 = dig_1 [-1]
sum_dig = int(di_1) + int(di_2)
print(sum_dig)

211196519563
5

**Дано число. Выведите количество цифр в этом числе**

In [ ]:
num_2 = int(input())
print(len(str(num_2)))

545
3

**Даны два числа. Проверьте, что первые цифры этих чисел совпадают**

In [ ]:
num_3 = int(input())
num_4 = int(input())
if str(num_3)[0] == str(num_4)[0]:
  print('первые цифры чисел совпадают')
else:
  print('none')

969889
77878
none

**Дан список:
[1, 2, 3, 4, 5, 6]
Получите из него следующий срез:

[1, 2, 3]**

In [ ]:
list_1 = [1, 2, 3, 4, 5, 6]
print(list_1[0:3])

[1, 2, 3]

# Уровень 1.3

**Дана строка. Если в этой строке более одного символа, выведите в консоль предпоследний символ этой строки**

In [ ]:
str_1 = input()
if len(str_1) > 1:
  print(str_1[-2])
else:
  print("string has one symbol")

t
string has one symbol

**Даны два целых числа. Проверьте, что первое число без остатка делится на второе**

In [ ]:
num_5 = int(input())
num_6 = int(input())
if num_5 % num_6 == 0:
  print('первое число без остатка делится на второе')
else:
  num_7 = num_5 / num_6
  print(f'Деление первого числа на второе равно: {num_7}')

4
78
Деление первого числа на второе равно: 0.05128205128205128

**Дана некоторая строка:

'abcde'
Получите список ее символов:

['a', 'b', 'c', 'd', 'e']**

In [ ]:
str_2 = 'abcde'
print(list(str_2))

['a', 'b', 'c', 'd', 'e']

**Дан список:

[1, 2, 3, 4, 5, 6]
Получите из него следующий срез:

[3, 4, 5]**

In [ ]:
list_2 = [1, 2, 3, 4, 5, 6]
print(list_2[2:5])

[3, 4, 5]

**Дан словарь с датой:

{
	'year' : '2025',
	'month': '12',
	'day'  : '31',
}
Из элементов этого словаря соберите дату в следующем формате:

'2025-12-31'**

In [ ]:
dict_1 = { 'year' : '2025', 'month': '12', 'day' : '31', }
form_date =f"{dict_1['year']}-{dict_1['month']}-{dict_1['day']}"
print(form_date)

2025-12-31

In [ ]:
date_dict = {'year': '2025', 'month': '12', 'day': '31'}
formatted_date = "{year}-{month}-{day}".format(**date_dict)
print(formatted_date)  # Выведет: 2025-12-31

2025-12-31

# Уровень 1.4

**Выведите в консоль все целые числа от 1 до 100**

In [ ]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

**Выведите в консоль все целые числа от -100 до 0**

In [ ]:
for i in range(-100, 1):
  print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

**Выведите в консоль все целые числа от 100 до 1**

In [ ]:
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

**Выведите в консоль все четные числа из промежутка от 1 до 100**

In [ ]:
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**Выведите в консоль все числа кратные трем в промежутке от 1 до 100**

In [ ]:
for i in range(1,101):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

**Дан список:

[1, 2, 3, 4, 5, 6]
Получите из него два последних элемента:

[5, 6]**

In [ ]:
list_3 = [1, 2, 3, 4, 5, 6]
print(list_3[4:6])

[5, 6]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
last_two = my_list[-2:]
print(last_two)

[5, 6]

**Дана некоторая строка:

'abcdeabc'
Получите сет ее символов:

{'a', 'b', 'c', 'd', 'e'}**

In [ ]:
str_9 = 'abcdeabc'
print(set(str_9))

{'a', 'd', 'e', 'c', 'b'}

# Уровень 1.5

**Найдите сумму всех целых чисел от 1 до 100**

In [ ]:

print(sum(range(1,101)))

5050

In [ ]:
n = 100
sum_gauss = n * (n + 1) // 2
print(sum_gauss)  # Выведет: 5050

In [ ]:
total = 0
for i in range(1, 101):
    total += i
print(total)  # Выведет: 5050

**Найдите сумму всех целых четных чисел в промежутке от 1 до 100**

In [ ]:
total = 0
for i in range(1, 101):
  if i % 2 == 0:
    total += i
print(total)

2550

**Найдите сумму всех целых нечетных чисел в промежутке от 1 до 100**

In [ ]:
total = 0
for i in range(1, 101):
  if i % 3 == 0:
    total += i
print(total)

1683

**Даны два целых числа. Найдите остаток от деления первого числа на второе**

In [ ]:
num_7 = int(input())
num_9 = int(input())
print(f' остаток от деления первого числа на второе: {num_7 / num_9}')

3
7
 остаток от деления первого числа на второе: 0.42857142857142855

**Дан список:

[1, 2, 3, 4, 5, 6]
Получите из него каждый второй элемент:

[1, 3, 5]**

In [ ]:
list_5 =[1, 2, 3, 4, 5, 6]
print(list_5[0::2])

[1, 3, 5]

# Уровень 1.6

**Дан список с числами:

[1, 2, 3, 4, 5]
Найдите сумму элементов этого списка**

In [ ]:
t = 0
lis = [1, 2, 3, 4, 5]
for i in lis:
  t += i
  print(t)

1
3
6
10
15

**Дан список с числами:

[1, 2, 3, 4, 5]
Найдите сумму квадратов элементов этого списка**

In [ ]:
lis = [1, 2, 3, 4, 5]
result = [i ** 2 for i in lis]
print(sum(result))

TypeError: 'int' object is not callable

**Дан список с числами:

[1, 2, 3, 4, 5]
Найдите сумму квадратных корней элементов этого списка**

In [ ]:
import math
lis = [1, 2, 3, 4, 5]
result = [math.sqrt(i) for i in lis]
print(sum(result))

8.382332347441762

**Дан список с числами:

[1, 2, -3, 4, -5]
Найдите сумму положительных элементов этого списка**

In [ ]:
numbers = [1, 2, -3, 4, -5]
sum_positive = 0

for num in numbers:
    if num > 0:
        sum_positive += num

print(sum_positive)

7

**Дан список с числами:

[-1, 2, -3, 4, 5, 11]
Найдите сумму тех элементов этого списка, которые больше нуля и меньше десяти**

In [ ]:
l = [-1, 2, -3, 4, 5, 11]
sum = 0
for i in l:
  if i >0 and i <10:
    sum += i
    print(sum)

2
6
11

**Дана некоторая строка:

'abcde'
Переберите и выведите в консоль по очереди все символы с конца строки**

In [ ]:
st = 'abcde'
for i in st[::-1]:
  print(i)

e
d
c
b
a

# Уровень 1.7

**Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
Найдите сумму элементов этого словаря**

In [ ]:
dict_7 = { 'a': 1, 'b': 2, 'c': 3, 'd': 4, }
print(sum(dict_7.values()))

10

**Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
Найдите сумму квадратов элементов этого словаря**

In [ ]:
dict_9 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Способ 1: Через цикл for
total = 0
for value in dict_9.values():
    total += value ** 2
print(total)

30

In [ ]:
sum_of_squares = sum(v ** 2 for v in dict_9.values())
print(sum_of_squares)

30

**Дана строка:

'abcde'
Получите список букв этой строки**

In [ ]:
sr = 'abcde'
print(list(sr))

['a', 'b', 'c', 'd', 'e']

**Дано некоторое число:

12345
Получите список цифр этого числа**

In [ ]:
numb = 12345
print(list(str(numb)))

['1', '2', '3', '4', '5']

**Дано некоторое число:

12345
Переверните его:

54321**

In [ ]:
num = 12345
a = str(num)
print(a[::-1])

54321

In [ ]:
num = 12345
reversed_num = int(str(num)[::-1])
print(reversed_num)

54321

**Дано некоторое число:

12345
Найдите сумму цифр этого числа**

In [ ]:
num = 12345

print(num.split())
#for i in n:
 # print(sum(i))

AttributeError: 'int' object has no attribute 'split'

In [ ]:

#path = pwd
col_fi = 0
file = input()
if file.split('.')[-1] == 'txt':
  col_fi +=1
  print(col_fi)
elif file.split('.')[-1] == 'log':
  col_fi += 1
  print(col_fi)
elif file.split('.')[-1] == 'scv':
  col_fi +=1
  print(col_fi)

fggdg.scv
1

In [ ]:
# Инициализация счетчиков
count_txt = 0
count_log = 0
count_csv = 0  # Исправлено с 'scv' на 'csv'

print("Вводите имена файлов (для завершения введите 'stop'):")

while True:
    file = input().strip()  # Удаляем лишние пробелы

    # Выход из цикла
    if file.lower() == 'stop':
        break

    # Разделяем имя файла на части
    parts = file.split('.')

    # Проверяем, есть ли расширение (минимум 2 части после split)
    if len(parts) > 1:
        extension = parts[-1].lower()  # Приводим к нижнему регистру

        if extension == 'txt':
            count_txt += 1
        elif extension == 'log':
            count_log += 1
        elif extension == 'csv':  # Исправлено с 'scv' на 'csv'
            count_csv += 1

# Выводим результаты
print("\nРезультаты подсчета:")
print(f".txt файлов: {count_txt}")
print(f".log файлов: {count_log}")
print(f".csv файлов: {count_csv}")

# Уровень 1.8 (2)

**Дан кортеж с числами:

(1, 2, 3, 4, 5)
Найдите сумму элементов этого кортежа**

In [ ]:
dic = (1, 2, 3, 4, 5)
s = 0
for i in dic:
  s += i
print(s)

15

**Дан список с числами:

[1, 2, 3, 4, 5, 6]
Увеличьте каждое число из списка на 10 процентов**

In [ ]:
li = [1, 2, 3, 4, 5, 6]
for i in li:
  i *= 10 / 100
  print(i)

0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001

**Дана строка:

'abcdef'
Получите первых три символа этой строки:

'abc'**

In [ ]:
strin = 'abcdef'
print(strin[0:3])

abc

# Уровень 1.9

**Дана строка:

'abcdef'
Получите три последних символа этой строки:

'def'**

In [ ]:
stri = 'abcdef'
print(stri[3:6:])

def

In [ ]:
s = 'abcdef'
last_three = s[-3:]  # Берём символы от 3-го с конца до конца строки
print(last_three)    # Выведет: 'def'

def

**Дан словарь с числами:

{
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
Увеличьте каждое число из словаря в 2 раза:

{
	'a': 2,
	'b': 4,
	'c': 6,
	'd': 8,
}**

In [ ]:
dic = {
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
for i in dic.values():
  fgt = i * 2
  print(fgt)

2
4
6
8

In [ ]:
dic = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
}

# Вариант 1: Создаем новый словарь с удвоенными значениями
new_dic = {key: value * 2 for key, value in dic.items()}
print(new_dic)

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

In [ ]:
dic = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
}

for key in dic:
    dic[key] *= 2
print(dic)

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

# Уровень 1.10

**Дана строка:

'abcdef'
Получите каждый второй символ этой строки:

'ace'**

In [ ]:
st = 'abcdef'
print(st[::2])

ace

**Дано некоторое число:

12345
Выведите в консоль все его символы с конца**

In [ ]:
num = 12345
print(str(num)[::-1])

54321

# Уровень 2.1

**Дан список со строками. Оставьте в этом списке только те строки, которые начинаются на http://**

In [ ]:
stri = ['nlnglkmlgklgk', 'http://lglkglkggmlkglkgglkg', 'ggmmlgjlgkj', 'http://', 'http://fkgjldkjgllgk;fgl;L']

for i in stri:
    if 'http://' in i:
        print(i)

http://lglkglkggmlkglkgglkg
http://
http://fkgjldkjgllgk;fgl;L

In [ ]:
for i in stri:
    if i.startswith('http://'):
        print(i)

http://lglkglkggmlkglkgglkg
http://
http://fkgjldkjgllgk;fgl;L

**Дана некоторая строка. Найдите позицию первого нуля в строке**

In [ ]:
stroka = input()
index = stroka.find('0')  # Ищем первый '0'

if index != -1:
    print(f"Первый '0' на позиции: {index}")
else:
    print("Нулей в строке нет")

kjkjkjk0jjkj
Первый '0' на позиции: 7

In [ ]:
s = "abc0123x045"

for i, char in enumerate(s):
    if char == '0':
        print(f"Первый '0' на позиции: {i}")
        break
else:
    print("Нулей в строке нет")

Первый '0' на позиции: 3

**Дан список. Удалите из него элементы с заданным значением**

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# Удаляем элементы, которые делятся на 20 ИЛИ больше 50
filtered = [x for x in numbers if not (x % 20 == 0 or x > 50)]
print(filtered)  # [10, 30, 40]

[10, 30, 50]

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[1]  # Удаляет элемент с индексом 1 (число 2)
print(my_list)  # [1, 3, 4, 5]

[1, 3, 4, 5]

In [ ]:
las = [1,2,3,4,5,56,6,78,8,89,78,99]
a = las.remove(2)
print(las)

[1, 3, 4, 5, 56, 6, 78, 8, 89, 78, 99]

In [ ]:
my_list = [10, 20, 30]
popped = my_list.pop(1)  # Удаляет и возвращает элемент с индексом 1
print(popped)  # 20
print(my_list)  # [10, 30]

20
[10, 30]

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # []

[]

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['b']
print(my_dict)  # {'a': 1, 'c': 3}

**Выведите в консоль все числа в промежутке от 10 до 1000, сумма первой и второй цифры которых равна пяти**

In [ ]:
for number in range(10, 1001):  # Перебираем числа от 10 до 1000 включительно
    # Преобразуем число в строку и берем первые две цифры
    digits = str(number)
    if len(digits) >= 2:  # Проверяем, что число двузначное или больше
        first_digit = int(digits[0])
        second_digit = int(digits[1])
        if first_digit + second_digit == 5:  # Проверяем сумму
            print(number)

14
23
32
41
50
140
141
142
143
144
145
146
147
148
149
230
231
232
233
234
235
236
237
238
239
320
321
322
323
324
325
326
327
328
329
410
411
412
413
414
415
416
417
418
419
500
501
502
503
504
505
506
507
508
509

In [ ]:
# Для двузначных чисел (10-99)
for num in range(10, 100):
    if (num // 10) + (num % 10) == 5:
        print(num)

# Для трехзначных чисел (100-999)
for num in range(100, 1000):
    if (num // 100) + ((num // 10) % 10) == 5:
        print(num)

# Число 1000
if (1 + 0) == 5:  # Не выполнится, так как 1+0≠5
    print(1000)

14
23
32
41
50
140
141
142
143
144
145
146
147
148
149
230
231
232
233
234
235
236
237
238
239
320
321
322
323
324
325
326
327
328
329
410
411
412
413
414
415
416
417
418
419
500
501
502
503
504
505
506
507
508
509

**Дана некоторая строка:

'abcdeabc'
Очистите ее от дублей символов:

'abcde'**

In [ ]:
strin = 'abcdeabc'
print(set(strin))

{'b', 'c', 'd', 'a', 'e'}

In [ ]:
s = 'abcdeabc'
result = ''.join(dict.fromkeys(s))
print(result)  # 'abcde'

abcde

# Уровень 2.2 (2!, 4!, 5!)

**Дан список с числами. Подсчитайте количество отрицательных чисел в этом списке**

In [ ]:
count = 0
lst = [6,-7,-9,1,-9]
for i in lst:
  if(i <= 0):
    count += 1
    print(count)

1
2
3

**Дан список с числами. Оставьте в нем только положительные числа**

In [ ]:
lst = [6,-7,-9,1,-9]
lstt = []
for i in lst:
  if i > 0:
    lstt.append(i)
print(lstt)

[6, 1]

In [ ]:
lst = [6,-7,-9,1,-9]
lstt = []
for i in lst:
    if i > 0:
        lstt += [i]  # Note the brackets around i
print(lstt)  # Output: [6, 1]

[6, 1]

**Дана строка. Удалите предпоследний символ из этой строки**

In [ ]:
srt = input('Enter a string: ')
if len(srt) >= 2:
    srt_1 = srt[:-2] + srt[-1]  # Remove second last character
else:
    srt_1 = srt  # String is too short to remove second last character

print(srt_1)

Enter a string: l;,
l,

In [ ]:
srt = input('Enter a string: ')
srt_1 = ''
for index, char in enumerate(srt):
    if index != len(srt) - 2:  # Skip the second last character
        srt_1 += char

print(srt_1)

**Дан список со строками. Оставьте в этом списке только те строки, которые заканчиваются на .html**

In [ ]:
strings = ['index.html', 'style.css', 'script.js', 'about.html', 'image.png']
result = [s for s in strings if s.endswith('.html')]
print(result)

['index.html', 'about.html']

**Дан список с дробями:

[1.456, 2.125, 3.32, 4.1, 5.34]
Округлите эти дроби до одного знака в дробной части**

In [ ]:
lst = [1.456, 2.125, 3.32, 4.1, 5.34]
lst_1 = [round(d, 1) for d in lst]
print(lst_1)

[1.5, 2.1, 3.3, 4.1, 5.3]

**Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
Получите список его значений:

[1, 2, 3, 4]**

In [ ]:
dict = {
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
print(list(dict.values()))

[1, 2, 3, 4]

# Уровень 2.3(3!)

**Даны два слова. Проверьте, что последняя буква первого слова совпадает с первой буквой второго слова**

In [ ]:
word_1 = input("enter the word: ")
word_2 = input("enter the word: ")
if word_1[-1] == word_2[0]:
  print('the last word It matches is first word second word')
else:
  print('the last letter in a first word not matches the first letter a second word')

enter the word: gsg
enter the word: ggsdffsfgsg
the last word It matches is first word second word

**Дана некоторая строка. Найдите позицию третьего нуля в строке**

In [ ]:
srt = input('enter string: ')
count = 0
for index, char in enumerate(srt):
    if char == '0':
      count += 1
      if count == 3:
          print(index)

enter string: rhr0hrt00h0hh
8

**Даны числа, разделенные запятыми:

'12,34,56'
Найдите сумму этих чисел**

In [ ]:
numbers_str = '12,34,56'
sum_result = sum(int(x) for x in numbers_str.split(','))
print(f"Сумма чисел: {sum_result}")

Сумма чисел: 102

**Дана дата в следующем формате:

'2025-12-31'
Преобразуйте эту дату в следующий словарь:

{
	'year' : '2025',
	'month': '12',
	'day'  : '31',
}**

In [ ]:
data = '2025-12-31'
dict_data = {
'year' : data[0:4],
'month': data[5:7],
'day' : data[8:10]
}
print(dict_data)

{'year': '2025', 'month': '12', 'day': '31'}

**Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
Получите сет его значений:

{1, 2, 3, 4}**

In [ ]:
dict = {
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
print(set(dict.values()))

{1, 2, 3, 4}

# Уровень 2.4

**Дана некоторая строка с буквами и цифрами. Получите позицию первой цифры в этой строке**

In [ ]:
srt = 'eeo95t4oij4otj4oip'
count = 0
for index, digit in enumerate(srt):
  if digit.isdigit():
    count += 1
    if count == 1:
     print(f'the position is a first digit in a string: {index}')

the position is a first digit in a string: 3

**Дано число. Выведите в консоль количество четных цифр в этом числе**

In [ ]:
number = input('the enter is number: ')
num = str(number)
count = 0
for n in num:
  if int(n) % 2 == 0:
    count += 1
print(f'the count is even digit: {count}')

the enter is number: 23456
the count is event digit: 3

**Дан словарь:

{
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
Получите список его ключей:

['a', 'b', 'c', 'd']**

In [ ]:
dict = {
	'a': 1,
	'b': 2,
	'c': 3,
	'd': 4,
}
print(list(dict.keys()))

['a', 'b', 'c', 'd']

**Дана некоторая строка:

'abcde'
Переведите в верхний регистр все нечетные буквы этой строки. В нашем случае должно получится следующее:

'AbCdE'**

In [ ]:
srt = 'abcde'
mod_srt = ''
for index, char in enumerate(srt):
  if index % 2 == 0:
    mod_srt += char.upper()
  else:
    mod_srt += char
print(mod_srt)

AbCdE

**
Дана некоторая строка со словами:

'aaa bbb ccc'
Сделайте заглавным первый символ каждого слова в этой строке. В нашем случае должно получится следующее:

'Aaa Bbb Ccc'**

In [ ]:
srt = 'aaa bbb ccc'
mod_srt = ''
for index, char in enumerate(srt):
  if index == 0:
   mod_srt += char.upper()
  elif index == 4:
    mod_srt += char.upper()
  elif index == 8:
    mod_srt += char.upper()
  else:
    mod_srt += char
print(mod_srt)

Aaa Bbb Ccc

**Дана дата в следующем формате:

'2025-12-31'
Преобразуйте эту дату в следующий кортеж:

('31', '12', '2025')**

In [10]:
data = '2025-12-31'
mod_data = {
    'a' : data[8:10],
    'b' : data[5:7],
    'c' : data[0:4]
}
print(tuple(mod_data.values()))

('31', '12', '2025')

# Уровень 2.5

**Дана некоторая строка, например, вот такая:

'023m0df0dfg0'
Получите сет позиций всех нулей в этой в строке**

In [14]:
srt = '023m0df0dfg0'
for index, digit in enumerate(srt):
  if digit == '0':
    print(index)

0
4
7
11

In [16]:
srt = '023m0df0dfg0'

# Находим все позиции символа '0'
positions = []
index = -1
while True:
    index = srt.find('0', index + 1)
    if index == -1:
        break
    positions.append(index)

# Выводим все позиции в нужном формате
for i, pos in enumerate(positions, 1):
    print(f"Позиция {i}: {pos}")

Позиция 1: 0
Позиция 2: 4
Позиция 3: 7
Позиция 4: 11

**Дана некоторая строка:

'abcdefg'
Удалите из этой строки каждый третий символ. В нашем случае должно получится следующее:

'abdeg'**

In [38]:
s = 'abcdefg'
result = ''.join(char for index, char in enumerate(s) if (index + 1) % 3 != 0)
print(result)  # 'abdeg'

abdeg

**Дан некоторый список, например, вот такой:

[1, 2, 3, 4, 5, 6]
Поделите сумму элементов, стоящих на четных позициях, на сумму элементов, стоящих на нечетных позициях**

In [14]:
lst = [1, 2, 3, 4, 5, 6]
for index, digit in enumerate(lst):
  if index % 2 != 0:
    print(digit)

2
4
6

In [22]:
lst = [1, 2, 3, 4, 5, 6]
total = 0
total1 = 0
for index, digit in enumerate(lst):
  if index % 2 == 0:
     total += digit
  elif index % 2 != 0:
     total1 += digit
print(total / total1)

0.75

# Уровень 2.6

**Дана некоторая строка с буквами и цифрами. Получите список позиций всех цифр из этой строки**

In [24]:
srt = '023m0df0dfg0'
for index, char in enumerate(srt):
  if char.isdigit():
    print(index)

0
1
2
4
7
11

**Дана некоторая строка:

'AbCdE'
Смените регистр букв этой строки на противоположный. В нашем случае должно получится следующее:

'aBcDe'**

In [40]:
srt = 'AbCdE'
srt_m = ''
for i in srt:
  if i.isupper():
    a =  i.lower()
    srt_m += a
  else:
    m = i.upper()
    srt_m += m
print(srt_m)

aBcDe

**Дан некоторый список с числами, например, вот такой:

[1, 2, 3, 4, 5, 6]
Слейте пары элементов вместе:

[12, 34, 56]**

In [48]:
lst = [1, 2, 3, 4, 5, 6]

# Разбиваем на пары: [1,3,5] и [2,4,6]
pairs = zip(lst[::2], lst[1::2])

# Объединяем каждую пару
result = [int(str(x) + str(y)) for x, y in pairs]

print(result)  # [12, 34, 56]

['12kl', 'k']

In [ ]:
lst = [1, 2, 3, 4, 5, 6]